* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  max-width: 1366px;
  margin: 0 auto;
}

p {
  font-size: 1.6rem;
}

.row {
  margin-left: -2rem;
  margin-right: -2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.block {
  background-color: #c4c4c4;
  padding: 2rem;
  margin: 2rem;
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  text-align: center;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.w-10 {
  width: 10%;
}

.w-20 {
  width: 20%;
}

.w-30 {
  width: 30%;
}

.w-40 {
  width: 40%;
}

.w-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

.w-80 {
  width: 80%;
}

.w-90 {
  width: 90%;
}

.w-100 {
  width: 100%;
}

.h-1 {
  height: 1rem;
}

.h-2 {
  height: 2rem;
}

.h-3 {
  height: 3rem;
}

.h-4 {
  height: 4rem;
}

.h-5 {
  height: 5rem;
}

.h-6 {
  height: 6rem;
}

.h-7 {
  height: 7rem;
}

.h-8 {
  height: 8rem;
}

.h-9 {
  height: 9rem;
}

.h-10 {
  height: 10rem;
}

.h-11 {
  height: 11rem;
}

.h-12 {
  height: 12rem;
}

.h-13 {
  height: 13rem;
}

.h-14 {
  height: 14rem;
}

.h-15 {
  height: 15rem;
}

.h-16 {
  height: 16rem;
}

.h-17 {
  height: 17rem;
}

.h-18 {
  height: 18rem;
}

.h-19 {
  height: 19rem;
}

.h-20 {
  height: 20rem;
}

.h-21 {
  height: 21rem;
}

.h-22 {
  height: 22rem;
}

.h-23 {
  height: 23rem;
}

.h-24 {
  height: 24rem;
}

.h-25 {
  height: 25rem;
}

.h-26 {
  height: 26rem;
}

.h-27 {
  height: 27rem;
}

.h-28 {
  height: 28rem;
}

.h-29 {
  height: 29rem;
}

.h-30 {
  height: 30rem;
}

.h-31 {
  height: 31rem;
}

.h-32 {
  height: 32rem;
}

.h-33 {
  height: 33rem;
}

.h-34 {
  height: 34rem;
}

.h-35 {
  height: 35rem;
}

.h-36 {
  height: 36rem;
}

.h-37 {
  height: 37rem;
}

.h-38 {
  height: 38rem;
}

.h-39 {
  height: 39rem;
}

.h-40 {
  height: 40rem;
}

.h-41 {
  height: 41rem;
}

.h-42 {
  height: 42rem;
}

.h-43 {
  height: 43rem;
}

.h-44 {
  height: 44rem;
}

.h-45 {
  height: 45rem;
}

.h-46 {
  height: 46rem;
}

.h-47 {
  height: 47rem;
}

.h-48 {
  height: 48rem;
}

.h-49 {
  height: 49rem;
}

.h-50 {
  height: 50rem;
}

.h-51 {
  height: 51rem;
}

.h-52 {
  height: 52rem;
}

.h-53 {
  height: 53rem;
}

.h-54 {
  height: 54rem;
}

.h-55 {
  height: 55rem;
}

.h-56 {
  height: 56rem;
}

.h-57 {
  height: 57rem;
}

.h-58 {
  height: 58rem;
}

.h-59 {
  height: 59rem;
}

.h-60 {
  height: 60rem;
}

.h-61 {
  height: 61rem;
}

.h-62 {
  height: 62rem;
}

.h-63 {
  height: 63rem;
}

.h-64 {
  height: 64rem;
}

.h-65 {
  height: 65rem;
}

.h-66 {
  height: 66rem;
}

.h-67 {
  height: 67rem;
}

.h-68 {
  height: 68rem;
}

.h-69 {
  height: 69rem;
}

.h-70 {
  height: 70rem;
}

.h-71 {
  height: 71rem;
}

.h-72 {
  height: 72rem;
}

.h-73 {
  height: 73rem;
}

.h-74 {
  height: 74rem;
}

.h-75 {
  height: 75rem;
}

.h-76 {
  height: 76rem;
}

.h-77 {
  height: 77rem;
}

.h-78 {
  height: 78rem;
}

.h-79 {
  height: 79rem;
}

.h-80 {
  height: 80rem;
}

.h-81 {
  height: 81rem;
}

.h-82 {
  height: 82rem;
}

.h-83 {
  height: 83rem;
}

.h-84 {
  height: 84rem;
}

.h-85 {
  height: 85rem;
}

.h-86 {
  height: 86rem;
}

.h-87 {
  height: 87rem;
}

.h-88 {
  height: 88rem;
}

.h-89 {
  height: 89rem;
}

.h-90 {
  height: 90rem;
}

.h-91 {
  height: 91rem;
}

.h-92 {
  height: 92rem;
}

.h-93 {
  height: 93rem;
}

.h-94 {
  height: 94rem;
}

.h-95 {
  height: 95rem;
}

.h-96 {
  height: 96rem;
}

.h-97 {
  height: 97rem;
}

.h-98 {
  height: 98rem;
}

.h-99 {
  height: 99rem;
}

.h-100 {
  height: 100rem;
}
/*# sourceMappingURL=style.css.map */