$spacing: 2rem;
$gray: #c4c4c4;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    max-width: 1366px;
    margin: 0 auto;
}

p {
    font-size: 1.6rem;
}

.row {
    margin-left: -$spacing;
    margin-right: -$spacing;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.col {
    display: flex;
    width: 100%;
}

.block {
    background-color: $gray;
    padding: $spacing;
    margin: $spacing;
    display: block;
    flex: 1 1 100%;
    text-align: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

//utility classes width in %
@for $i from 1 through 10 {
    .w-#{$i}0 {
        width: unquote($i + "0%");
    }
}

//utility classes height in rem
@for $i from 1 through 100 {
    .h-#{$i} {
        height: $i + rem;
    }
}